*{
box-sizing: border-box;  
padding: 0;
margin: 0;  

}
.container{
    text-align: center;
    font-style: roboto ,sans-serif;
    background-color: #ade8f4;
    height: 100vh;
}
.container button{
    border-color: black;
    border-radius: 8px;
    padding: 30px;
    margin: 20px;   
    background-color: #023e8a;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    transition: .5s ease-out;
    color: white;
    
}
.container button:hover{
    background-color: #ffc6ff;
}
.meme-title{
    margin: 15px;
    font-size: 20px;
}
.container img{
    height: 430px;
    object-fit: cover;
    padding: 20px;
    background-color: white;
}
.meme-author{
margin: 15px;
font-size: 20px;
font-weight: 700;
}
/* .image-container{
    background-color: white;
    padding: 10px;
    width: ;
} */